.App {
  text-align: center;
  background-color: #282c34; 
  min-height: 100vh;        
  display: flex;          
  flex-direction: column;
  color: white;
}

.site-content {
  flex: 1;                  
  display: flex;           
  flex-direction: column;  
  justify-content: flex-start; 
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}