.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 1. On dit à l'application de prendre toute la hauteur de l'écran */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la hauteur de vue */
}

/* 2. On dit au contenu principal (tes pages) de prendre tout l'espace disponible */
.main-content {
  flex: 1; /* C'est ça la magie : ça pousse le footer vers le bas */
  position: relative; /* Sécurité pour tes éléments positionnés en absolute */
  width: 100%;
}