.Block{
    width: 300px;
    height: 917px;
    left: 0px;
    top: 0px;
    background-color: rgb(126, 33, 33);
    position: absolute
}

.Navbar{
    width: 900px;
    height:100px;
    left: 450px;
    top: 0px;
    background-color: purple;
    position: absolute;
}

.Login{
    width: 100px;
    height:100px;
    left: 1500px;
    top: 0px;
    position: absolute;
}

.Register{
    width: 100px;
    height:100px;
    left: 1600px;
    top: 0px;
    position: absolute;
}

.logo-odeo {
  position: absolute;
  top: 20px;
  left: 120px;
}
.as-link {
    position: relative;
    left: 780px;
    top: -40px;
}

.games-grid {
  display: flex;      
  flex-wrap: wrap;      
  justify-content: center; 
  gap: 30px;              
  margin-top: 150px;       
  padding: 20px;
  margin-bottom: 40px;
}

.game-card a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section-title {
  width: 90%;         
  text-align: left;    
  margin-top: 50px;   
  margin-bottom: 20px; 
  border-bottom: 2px solid #61dafb; 
  padding-bottom: 10px;
  color: #fff;
}

.cart-summary {
    background-Color: '#2c3e50';
    color: 'white';
    padding: '20px';
    margin: '20px auto';
    border-Radius: '10px';
    max-Width: '600px';
    border: '2px solid #61dafb'
  }
  .cart-Item {
    display: 'flex';
    justify-Content: 'space-between';
    padding: '10px 0';
    border-Bottom: '1px solid #444';
  }
  .removeBtn {
    margin-left: 10px;
    background: 'transparent';
    border: 'none';
    cursor: 'pointer';
    background-color: white;
  }
  .cartFooter {
    margin-Top: '20px';
    text-Align: 'right';
  }
  .payBtn {
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;

  }