.Block{
    width: 300px;
    height: 917px;
    left: 0px;
    top: 0px;
    background-color: rgb(126, 33, 33);
    position: absolute
}

.Navbar{
    width: 900px;
    height:100px;
    left: 450px;
    top: 0px;
    background-color: purple;
    position: absolute;
}

.Login{
    width: 100px;
    height:100px;
    left: 1500px;
    top: 0px;
    position: absolute;
}

.Register{
    width: 100px;
    height:100px;
    left: 1600px;
    top: 0px;
    position: absolute;
}

.logo-odeo {
  position: absolute;
  top: 20px;
  left: 120px;
}