.inputtext{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1a1a1a;
  color: white;
  font-family: inherit;
}

.boxall{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 150px;
}

.btn
{
     background-color: #61dafb;
  color: #282c34;
  padding: 12px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}